.rounded-circle
{
    border:1px solid;
    border-radius: 50%;
    width:500px;
    height:500px;    
    text-align:left;

}
.image
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}